/***
    SETTINGS AND VARIABLES
***/
@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/futura.woff2") format("woff2"), url("../fonts/futura.woff") format("woff"), url("../fonts/futura.ttf") format("truetype");
}
@font-face {
  font-family: 'Futura Regular';
  src: url("../fonts/futura-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/futura-regular.woff2") format("woff2"), url("../fonts/futura-regular.woff") format("woff"), url("../fonts/futura-regular.ttf") format("truetype");
}
/* line 36, ../sass/rubys.scss */
html {
  scroll-behavior: smooth;
}

/* line 40, ../sass/rubys.scss */
body {
  font-family: 'Futura Regular', Fallback, sans-serif;
  letter-spacing: 0.5px;
}

/* line 46, ../sass/rubys.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Futura Regular', Fallback, sans-serif;
}

/* line 55, ../sass/rubys.scss */
a {
  transition: 0.3s all;
}

/* line 59, ../sass/rubys.scss */
a:hover {
  text-decoration: none;
}

/* line 63, ../sass/rubys.scss */
h3.header {
  text-transform: uppercase;
}

/* line 67, ../sass/rubys.scss */
.navigation {
  background-color: #643569;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
/* line 75, ../sass/rubys.scss */
.navigation p {
  margin-bottom: 0px;
}
/* line 79, ../sass/rubys.scss */
.navigation .navbar-toggler:focus {
  outline: 0;
}

/* line 84, ../sass/rubys.scss */
img.ruby-nav-logo {
  max-height: 30px;
}

/* line 88, ../sass/rubys.scss */
a.nav-link {
  color: #fff;
}

/* line 90, ../sass/rubys.scss */
.footer {
  text-transform: uppercase;
}

/* line 94, ../sass/rubys.scss */
.hero {
  align-items: center;
  background-color: lavender;
  background-image: url("../images/hero-bg.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  min-height: 50vh;
  justify-content: center;
  text-align: center;
}

/* line 108, ../sass/rubys.scss */
img.hero-image {
  max-width: 300px;
}

/* line 113, ../sass/rubys.scss */
.info-section {
  letter-spacing: 0.6px;
  font-size: 17px;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}
/* line 30, ../sass/rubys.scss */
.info-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 122, ../sass/rubys.scss */
.menu-section {
  background-color: #f9f9f9;
}
/* line 30, ../sass/rubys.scss */
.menu-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* line 126, ../sass/rubys.scss */
.menu-section a.btn {
  text-align: center;
  margin: 0 auto;
}
/* line 130, ../sass/rubys.scss */
.menu-section h3 {
  text-align: center;
}
/* line 134, ../sass/rubys.scss */
.menu-section h5 {
  font-size: 20px;
  margin-bottom: 30px;
}
/* line 139, ../sass/rubys.scss */
.menu-section .content-inner {
  max-width: 330px;
  margin: 0 auto;
  margin-bottom: 60px;
}

/* line 146, ../sass/rubys.scss */
a.btn.btn-primary {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border-width: 2px;
  color: #448886;
  border-color: #448886;
}

/* line 154, ../sass/rubys.scss */
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #448886;
  color: #fff;
  border-color: #448886;
}

/* line 160, ../sass/rubys.scss */
.row.menu-row {
  padding-top: 40px;
  max-width: 800px;
  margin: 0 auto;
  text-transform: uppercase;
}
/* line 166, ../sass/rubys.scss */
.row.menu-row .col-lg-6 {
  /*padding-left: 50px;*/
}
/* line 168, ../sass/rubys.scss */
.row.menu-row p {
  display: block;
  position: relative;
}
/* line 174, ../sass/rubys.scss */
.row.menu-row sub {
  display: block;
  font-size: 10px;
  line-height: 15px;
  font-family: sans-serif;
}
/* line 181, ../sass/rubys.scss */
.row.menu-row h5 sub {
  margin-bottom: -15px;
}
/* line 185, ../sass/rubys.scss */
.row.menu-row span {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 192, ../sass/rubys.scss */
.certificate {
  margin: auto;
}

/* line 197, ../sass/rubys.scss */
.image-grid-section {
  overflow: hidden;
}
/* line 201, ../sass/rubys.scss */
.image-grid-section .row .col-lg-2,
.image-grid-section .row .col-lg-3 {
  margin-left: 0px;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 208, ../sass/rubys.scss */
.image-grid-section .row .col-lg-2:first-child,
.image-grid-section .row .col-lg-3:first-child {
  background-image: url("../images/food-2.jpg");
}
/* line 213, ../sass/rubys.scss */
.image-grid-section .row .col-lg-2:nth-child(2),
.image-grid-section .row .col-lg-3:nth-child(2) {
  background-image: url("../images/food-3.jpg");
}
/* line 217, ../sass/rubys.scss */
.image-grid-section .row .col-lg-2:nth-child(3),
.image-grid-section .row .col-lg-3:nth-child(3) {
  background-image: url("../images/food-4.jpg");
}
/* line 221, ../sass/rubys.scss */
.image-grid-section .row .col-lg-2:nth-child(4),
.image-grid-section .row .col-lg-3:nth-child(4) {
  background-image: url("../images/food-5.jpg");
}
/* line 225, ../sass/rubys.scss */
.image-grid-section .row .col-lg-2:nth-child(5),
.image-grid-section .row .col-lg-3:nth-child(5) {
  background-image: url("../images/food-6.jpg");
}
/* line 229, ../sass/rubys.scss */
.image-grid-section .row .col-lg-2:nth-child(6),
.image-grid-section .row .col-lg-3:nth-child(6) {
  background-image: url("../images/food-6.jpg");
}

/* line 238, ../sass/rubys.scss */
.map-frame {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 243, ../sass/rubys.scss */
.map-frame iframe {
  width: 100%;
  display: block;
}

/* line 249, ../sass/rubys.scss */
.footer {
  text-align: center;
  background-color: #643569;
  color: #fff;
  overflow: hidden;
}
/* line 255, ../sass/rubys.scss */
.footer p {
  margin-bottom: 0px;
}

/* line 261, ../sass/rubys.scss */
.content-blocks {
  margin: 20px 0;
  padding: 15px;
}
/* line 266, ../sass/rubys.scss */
.content-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px 0;
}
/* line 272, ../sass/rubys.scss */
.content-container h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
/* line 277, ../sass/rubys.scss */
.content-container-inner {
  max-width: 800px;
}
/* line 282, ../sass/rubys.scss */
.content-image {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  /* line 291, ../sass/rubys.scss */
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}
/* line 297, ../sass/rubys.scss */
.social-icon-container {
  text-align: center;
  padding: 20px 0;
  background: #643569;
  color: white;
  overflow: hidden;
}
/* line 304, ../sass/rubys.scss */
.social-icon-container img {
  margin: 0 10px;
  width: 40px;
  height: 40px;
}

/* line 312, ../sass/rubys.scss */
.competition-entry {
  background: #1e448f;
  border-radius: 10px;
  padding: 20px 30px;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 10px;
}
/* line 319, ../sass/rubys.scss */
.competition-entry a {
  color: #f1faf3;
}
