/***
    SETTINGS AND VARIABLES
***/
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura.eot'); /* IE9 Compat Modes */
    src: url('../fonts/futura.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/futura.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/futura.ttf')  format('truetype')
  }
  
  @font-face {
    font-family: 'Futura Regular';
    src: url('../fonts/futura-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/futura-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/futura-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/futura-regular.ttf')  format('truetype')
  }
  
  @mixin defaultfont {
    font-family: 'Futura Regular', Fallback, sans-serif;
    //font-family: 'Noto Sans', sans-serif;

  }

  $green: #448886;
  $purple: #643569;

  @mixin container {
      .container {
        padding-top: 60px;
        padding-bottom: 60px;
      }
  }

  html {
      scroll-behavior: smooth;
  }

  body {
    @include defaultfont();
    letter-spacing: 0.5px;
  }

  
  h1,
  h2,
  h3,
  h4,
  h5, 
  h6 {
        @include defaultfont();
}

  a {
    transition: 0.3s all;
  }

  a:hover {
    text-decoration: none;
  }
  
  h3.header {
      text-transform: uppercase;
  }
  
  .navigation {
      background-color: #643569;
      color: #fff;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      text-transform: uppercase;

      p {
        margin-bottom: 0px;
      }

    .navbar-toggler:focus {
      outline: 0;
    }
  }
    
  img.ruby-nav-logo {
      max-height: 30px;
  }
  
  a.nav-link { color: #fff; }
  
  .footer {
      text-transform: uppercase;
  }
  
  .hero {
      align-items: center;
      background-color: lavender;
      background-image: url('../images/hero-bg.jpg');
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      display: flex;
      min-height: 50vh;
      justify-content: center;
      text-align: center;
  }
  
  img.hero-image {
      max-width: 300px;
  }
  
  
  .info-section {
      letter-spacing: 0.6px;
      font-size: 17px;
      margin: 0 auto;
      max-width: 500px;
      text-align: center;
      @include container();
  }

  .menu-section {
      background-color: #f9f9f9;
      @include container();

      a.btn { 
          text-align: center; margin: 0 auto; 
        }

        h3 {
            text-align: center;
        }

        h5 {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .content-inner { 
            max-width: 330px;
            margin: 0 auto;
            margin-bottom: 60px;
        }
  }

a.btn.btn-primary {
  background-color: rgba(255,255,255,0);
  border-radius: 0px;
  border-width: 2px;
  color: #448886;
  border-color: #448886;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #448886;
  color: #fff;
  border-color: #448886;
}

  .row.menu-row {
      padding-top: 40px;
      max-width: 800px;
      margin: 0 auto;
      text-transform: uppercase;

      .col-lg-6 { /*padding-left: 50px;*/ }

      p {
        display: block;
        position: relative;

        }

    sub { 
        display: block;
        font-size: 10px;
        line-height: 15px;
        font-family: sans-serif;
    }

    h5 sub {
        margin-bottom: -15px;
    }

    span {
        position: absolute;
        top: 0;
        right: 0;
    }
  }

  .certificate {
      margin:auto;
  }

  // Images row.
  .image-grid-section {
      overflow: hidden;

      .row {
          .col-lg-2, 
          .col-lg-3 {
            margin-left: 0px;
            min-height: 300px;
            background-size: cover;
            background-repeat: no-repeat;

            &:first-child {
                background-image: url('../images/food-2.jpg');
            }
            
            
            &:nth-child(2) {
                background-image: url('../images/food-3.jpg');
            }
            
            &:nth-child(3) {
                background-image: url('../images/food-4.jpg');
            }
            
            &:nth-child(4) {
                background-image: url('../images/food-5.jpg');
            }
            
            &:nth-child(5) {
                background-image: url('../images/food-6.jpg');
            }
            
            &:nth-child(6) {
                background-image: url('../images/food-6.jpg');
            }
          }
      }
  }
  

  
  .map-frame {
      width: 100%;
      height: 100%;
      position: relative;

      iframe {
        width: 100%;
        display: block;
    }
  }
    
  .footer {
      text-align: center;
      background-color: $purple;
      color: #fff;
      overflow: hidden;

      p { margin-bottom: 0px; }
  }

  // Content blocks.
  .content {

    &-blocks {
        margin: 20px 0;
        padding: 15px;
    }

    &-container {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 10px 0;

        h2 {
            font-size: 1.4rem;
            text-transform: uppercase;
        }

        &-inner {
            max-width:800px;
        }
    }

    &-image {
        width: 100%;
        margin-bottom: 20px;
    }
  }
  

  // Navbar
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse  {
        justify-content: flex-end;
    }

}

.social-icon-container {
    text-align: center;
    padding: 20px 0;
    background: $purple;
    color: white;
    overflow: hidden;
    
    img {
        margin: 0 10px;
        width: 40px;
        height: 40px;
        
    }
}

.competition-entry {
    background: #1e448f;
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 10px;
    a {
        color: #f1faf3;
    }
}